# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Local SQLite DB
grocery.db
grocery.db-wal
grocery.db-shm

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
